* {
  margin: 0px;
  box-sizing: border-box;
}

.fa-brands {
  color: rgb(93, 199, 199);
  margin-left: 12px;
}

body {
  background: #000;
}

.main {
  background: url('../img/car-4.jpg')no-repeat center/cover;
  padding: 30px;
}

#header {
  top: 0px;
  left: 0px;
  right: 0px;
  display: flex;
  flex-direction: row;
  gap: 50px;
  padding: 20px 20px 20px 20px;
  border-bottom: 1px solid rgb(65, 225, 204);
  position: fixed;
  background: #00000052;
  margin-bottom: 140px;
}

.nav-container {
  display: flex;
  flex-direction: row;
  gap: 50px;
  margin-left: 700px;
  list-style: none;
}

.nav-container li a {
  text-decoration: none;
  color: white;
  font-size: 0.95rem;
  position: relative;
}

.nav-container li a::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 0;
  height: 2px;
  background: rgb(93, 199, 199);
  transition: 0.3s;
}

.nav-container li a:hover {
  color: rgb(93, 199, 199);
}

.nav-container li a:hover::after {
  width: 100%;
  transform: scaleX(1);
  transform-origin: left;
}

.logo {
  text-align: center;
  color: white;
  font-size: 27px;
  font-weight: bold;
}

span {
  color: rgb(65, 225, 204);
  font-size: 27px;
}

.active-for-header {
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: row;
  gap: 150px;
  color: white;
  z-index: 1000;
  position: fixed;
  padding: 20px 10%;
  background: #130101;
  animation: slideDown 1s ease;
}

@keyframes slideDown {
  from {
    transform: translateY(-60px);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.active h1 {
  font-size: 16px;
}

.hero {
  display: flex;
  flex-direction: column;
  margin-top: 80px;
  margin-left: 90px;
  box-shadow: -0px 2px 3px white;
  height: 500px;
  padding-top: 40px;
  width: 89%;

}

h1 {
  padding: 2%;
  font-size: 30px;
  color: white;
  box-shadow: rgb(65, 225, 204) -2px 0px 0px;
}

.hero-p {
  padding: 12px;
  font-size: 17px;
  color: white;
}

/* Hero */
.carousel {
  position: relative;
  height: 100vh;
  overflow: hidden;

}

.slide {
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.slide.active {
  opacity: 1;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  /* background: rgba(0, 0, 0, 0.5); */
}

.content {
  position: absolute;
  bottom: 20%;
  left: 10%;
  z-index: 2;
}

.content h1 {
  font-size: 3rem;
  margin-bottom: 0.5rem;
}

.content p {
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

.btn {
  background: rgb(65, 225, 204);
  padding: 10px 20px;
  text-decoration: none;
  color: white;
  border-radius: 5px;
  transition: background 0.3s;
  width: 130px;
  cursor: pointer;
}

.btn:hover {
  background: rgb(41, 163, 147);
}

.nav {
  position: absolute;
  top: 50%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  z-index: 3;
}

.nav span {
  cursor: pointer;
  font-size: 2rem;
  background: rgba(0, 0, 0, 0.5);
  padding: 10px;
  border-radius: 50%;
  color: white;
  user-select: none;
  transition: background 0.3s;
}

.nav span:hover {
  background: rgba(0, 0, 0, 0.8);
}

/* Footer styling  */

footer {
  padding: 40px 34px 24px 40px;
  background: rgba(0, 0, 0, 0.089);
}

.footer-grid {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20%;
  border-top: 1px solid rgb(65, 225, 204);
  border-bottom: 1px solid rgb(65, 225, 204);
  padding: 20px 20px 20px 20px;
}

h2 {
  text-align: center;
  color: white;
  margin-bottom: 20px;
}

.footer-dscription {
  font-size: 1.2rem;
}

.second-footer-role {
  display: flex;
  flex-direction: row;
  gap: 90px;
}

.down-footer-text {
  display: flex;
  flex-direction: row;
}

.down-r-2 {
  margin-left: 45%;
  gap: 40px;
}

/* Links styling  */
.links {
  color: white;
  text-decoration: none;
  cursor: pointer;
}

.links:hover {
  color: rgb(65, 225, 204);
}

/* Contact styling */

/*UPPER LAYER STYLING  */

.contact-box {
  margin-top: 70px;
}

.contact-top-grid {
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 50px;
}

.contact-text {
  font-size: 2rem;
  text-align: center;
}

.container {
  border: 1px solid rgba(65, 225, 204, 0.37);
  height: 215px;
  width: 200px;
  padding-top: 40px;
  padding-left: 10px;
  padding-right: 10px;
}

/* LOWER LAYER STYLING */
.down {
  margin-top: 150px;
}

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* border: 1px solid white; */
  /* padding: 45px 20px 45px 20px ; */
}

button[type="submit"] {
  border-radius: 5px;
  border: 1px solid #00ffd5;
  box-shadow: 0 0 8px rgb(0, 238, 238);
}

button[type="submit"]:active {
  box-shadow: none;
}


.firts-role {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

input {
  height: 40px;
  width: 330px;
  background: transparent;
  border: 1px solid rgba(65, 225, 204, 0.37);
  margin-left: 10px;
  margin-bottom: 10px;
  color: white;
}

input:focus {
  outline: none;
  border: 1px solid aqua;
  box-shadow: 0 0 4px aquamarine;
  transition: 0.6s ease-out;
}

textarea {
  color: white;
  height: 140px;
  width: 45%;
  background: transparent;
  border: 1px solid rgba(65, 225, 204, 0.37);
  margin-bottom: 40px;
}

textarea:focus {
  outline: none;
  border: 1px solid aqua;
  box-shadow: 0 0 4px aquamarine;
  transition: 0.6s ease-out;
}

button[type="submit"] {
  height: 40px;
  width: 200px;
  text-align: center;
  background-color: rgb(93, 199, 199);
  margin-bottom: 40px;
  cursor: pointer;
}

.muted {
  color: aqua;
  font-size: 1.5rem;
}

/* Pricing styling  Layout*/

/* HERO */
.hero-two {
  padding: 90px 20px;
  text-align: center;
  background: radial-gradient(circle, #2b2b2b, #000);
  color: white;
}

.hero-two h1 {
  font-size: 46px;
  margin-bottom: 10px;
}

.hero-two p {
  color: #aaa;
}

/* ` */
.about {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  padding: 70px;
}

.about h2 {
  color: #00ffd5;
}

.about-stats {
  display: flex;
  gap: 30px;
}

.about-stats div {
  background: #111;
  padding: 25px;
  border-radius: 15px;
  text-align: center;
  flex: 1;
}

h3 {
  color: #fff;
}
P {
  color: #fff;
}

/* PRICING */
.pricing {
  padding: 70px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 30px;
}

.price-card {
  background: #111;
  border: 1px solid #333;
  padding: 35px;
  border-radius: 20px;
  text-align: center;
  transition: 0.4s;
}

.price-card:hover {
  transform: translateY(-12px);
  box-shadow: 0 0 30px rgba(0, 255, 213, 0.3);
}

.price-card h2 span {
  font-size: 14px;
  color: #aaa;
}

.price-card button {
  margin-top: 20px;
  padding: 12px 25px;
  background: #00ffd5;
  border: none;
  border-radius: 30px;
  cursor: pointer;
}

/* FEATURED */
.featured {
  border-color: #00ffd5;
}

/* GALLERY */
.gallery {
  padding: 70px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 25px;
}

.car-card {
  position: relative;
  overflow: hidden;
  border-radius: 18px;
  cursor: pointer;
}

.car-card img {
  width: 100%;
  display: block;
  transition: transform 0.5s;
}

.car-card:hover img {
  transform: scale(1.1);
}

.overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  color: #00ffd5;
  font-size: 22px;
  opacity: 0;
  transition: 0.4s;
}

.car-card:hover .overlay {
  opacity: 1;
}

/* Vehicles */
.vehicles {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
  padding: 80px 80px 80px 80px;
  cursor: pointer;
  margin-left: -30px;
}

.vehicle-card {
  border: 1px solid;
  border-radius: 18px;
  background: #111;
  border: 1px solid #333;
}

.vehicle-card:hover {
  border-color: #00ffd5;
  transition: 0.6s;
  transform: translateY(-12px);
}

.vehicle-card img {
  border-radius: 18px;
  height: 210px;
  width: 410px;
}

.stars {
  color: gold;
  font-size: 27px;
  margin-left: 60px;
  text-align: center;
}

.description {
  text-align: center;
  margin-left: 60px;
  text-align: center;
}

.big-text {
  color: white;
  text-align: center;
  margin-left: 60px;
  text-align: center;
}

.double-content {
  display: flex;
  gap: 50px;
  margin-left: 60px;
  text-align: center;
}

select {
  background: transparent;
  color: white;
  border: none;
  cursor: pointer;
}

option {
  background: #000;
  /* cursor: pointer; */
}

.card-btn {
  cursor: pointer;
  text-align: center;
  margin-left: 60px;
  text-align: center;
  margin-bottom: 21px;
  width: 210px;
  height: 45px;
  background: #00ffd5;
  border: none;
  box-shadow: 0 0 8px #00ffd5;
}


#sideMenu {
  display: none;
}

/* Mobile menu */
.menu-toggle {
  display: none;
  background: transparent;
  color: white;
  border: 0;
  font-size: 20px;
  cursor: pointer;
}

.header {
  display: none;
  position: fixed;
}

.media-footer {
  display: none;
}

/*-----------------------------------*\
  #BACK TO TOP
\*-----------------------------------*/

#backToTop {
  position: fixed;
  bottom: 30px;
  right: 30px;
  padding: 12px 15px;
  font-size: 18px;
  border: none;
  border-radius: 50%;
  background-color: #333;
  color: white;
  cursor: pointer;
  display: none;
  transition: all 0.3s ease;
}

#backToTop:hover {
  background-color: #555;
  transform: scale(1.1);
}


/* 
*Responsive
 */

@media (max-width: 768px) {

  /* Body */
  body {
    width: 330px;
  }

  /* Header */
  #header {
    display: none;
  }

  .logo {
    font-size: 17px;
    margin-left: 10px;
    text-align: center;
  }

  span {
    font-size: 17px;
  }

  .media-header {
    left: 0px;
    top: 0px;
    display: flex;
    border-bottom: 1px solid #00ffd5;
  }

  .nav-container {
    display: none;
  }

  #sideMenu {
    position: fixed;
    display: none;
    flex-direction: column;
    top: 70px;
    right: 0px;
    background: #111;
    width: 100%;
    text-align: center;
    padding: 20px 20px;
    z-index: 1004;
    border-bottom: 1px solid #00ffd5;
  }


  #sideMenu.active-For-Menu {
    position: fixed;
    display: flex;
    animation: slideDown 0.5s ease-in-out;
  }

  .active-up {
    position: fixed;
    display: flex;
    animation: slideUp 0.5s ease-in;
  }

  #sideMenu li a {
    text-decoration: none;
    color: #00ffd5;
    padding: 16px;
    gap: 30px;
    margin-bottom: 30%;
    margin-right: 320px;
  }


  .menu-icon {
    display: block;
  }

  .menu-toggle {
    display: block;
    color: #00ffd5;
    margin-left: 20px;
  }

  /* Hero  */

  .main {
    background: url('../img/car-bg\ \(5\).jpg') center/cover no-repeat;
    width: 240px;
    /* display: flex; */
    margin-right: 120px;
  }

  /* Carousel */
  .carousel {
    margin-left: -110px;
    height: 330px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  /* .btn { */
  /* margin-top: 20px; */
  /* margin-left: 40px; */
  /* } */

  h1 {
    font-size: 12px;
  }


  .hero-p {
    display: none;
  }



  /* Footer */
  footer {
    display: none;
  }

  .media-header {
    position: fixed;
  }

  .media-footer {
    display: block;
    width: 290px;
    gap: 10px;
    padding: 12px 2px 12px 12px;
    border-bottom: 1px solid #00ffd5;
  }

  .logo-footer {
    color: white;
    border-bottom: 1px solid #00ffd5;
  }


  .muted {
    font-size: 12px;
  }

  .drop-down {
    padding: 10px 10px 10px 10px;
    background: #000;
    color: white;
    border: 1px solid white;
    width: 40%;
    height: 40px;
    border-radius: 5px;
    display: flex;
    cursor: pointer;
    justify-content: center;
  }

  .drop-down2 {
    padding: 10px 10px 10px 10px;
    background: #000;
    color: white;
    border: 1px solid white;
    width: 40%;
    height: 40px;
    border-radius: 5px;
    display: flex;
    cursor: pointer;
    justify-content: center;
  }

  .drop-down3 {
    padding: 10px 10px 10px 10px;
    background: #000;
    color: white;
    border: 1px solid white;
    width: 40%;
    height: 40px;
    border-radius: 5px;
    display: flex;
    cursor: pointer;
    justify-content: center;
  }

  .drop-down-menu {
    display: none;
  }

  .drop-down-menu2 {
    display: none;
  }

  .drop-down-menu3 {
    display: none;
  }

  .active-hover .drop-down-menu3 {
    display: block;
    padding: 10px 10px 10px 10px;
    background: #000;
    width: 40%;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    gap: 3px;
    margin-top: 32px;
    position: absolute;
    border: 1px solid white;
  }

  .active-hover .drop-down-menu2 {
    display: block;
    padding: 10px 10px 10px 10px;
    background: #000;
    width: 50%;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    gap: 3px;
    margin-top: 32px;
    position: absolute;
    border: 1px solid white;
  }
  
  .active-hover .drop-down-menu {
    display: block;
    padding: 10px 10px 10px 10px;
    background: #000;
    width: 30%;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    gap: 3px;
    margin-top: 32px;
    position: absolute;
    transition: all 0.5s ease-out;
    border: 1px solid white ;
  }

  .menu-list {
    color: #fff;
    list-style: none;
    text-decoration: none;
  }

  .menu-list:hover {
    background-color: #fff;
    padding: 5px 5px 5px 5px;
    color: 000;
    border-radius: 2px;
    transition: all 0.5s ease-out;
  }

  .media-footer-grid {
    gap: 30px;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
  }

}


@keyframes slideDown {
  from {
    transform: translateY(-20px);
    opacity: 0;
  }

  to {
    transform: translateY(0px);
    opacity: 1;
  }
}
